// ------------ scrollbar -------------
$scrollbar-width: 8px;

// ------------ viewports -------------
$desktop-large: 1920px;
$desktop-medium: 1366px; // 1366 x 695 -> actual medium laptop size
$desktop-small: 1200px;
$desktop-extra-small: 1024px;
$tablet: 768px;
$mobile-large: 425px;
$mobile-medium: 375px;
$mobile-small: 320px;
$mobile-extra-small: 280px;