@import 'scss/global/mixins';
@import 'scss/global/sass_variables';

.part-nosotros-hero-section {
  padding: 80px 0 20px 0;

  .lock__ui {
    padding: 80px 0;
    flex-direction: column;
    gap: 50px;

    & > .img-container {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 100%;
        height: auto;
        max-width: 400px;
        object-fit: contain;
        margin: 0 auto;
      }
      @media screen and (max-width: $tablet) {
        display: none;
      }
    }
  }

  .header-container {
    text-align: center;

    h2 {
      font-size: 40px;
      font-weight: 700;
      color: var(--rich-black);
      margin-bottom: 15px;

      @media screen and (max-width: $desktop-extra-small) {
        font-size: 37px;
      }
      @media screen and (max-width: $tablet) {
        font-size: 32px;
      }
      @media screen and (max-width: $mobile-large) {
        font-size: 25px;
      }
    }

    .description {
      font-size: 16px;
      color: #7D888A;
    }
  }

  .timeline-vertical-story {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    $gap: 80px;
    gap: $gap;

    @media screen and (max-width: $tablet) {
      gap: 40px;
      margin-top: 0;
    }

    div.timeline-vertical-story-item {
      position: relative;
      width: 100%;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 40px;
      $content-loss: 81px; // 40px gap (2x content), 1px divider
      &.izquierda {
        flex-direction: row;
      }
      &.derecha {
        flex-direction: row-reverse;
      }

      @media screen and (max-width: $tablet) {
        gap: 20px;
        &.izquierda, &.derecha {
          flex-direction: column-reverse;
        }
      }

      p {
        font-size: 17px;
        color: var(--neutral-400);
        flex: 0 0 calc(50% - #{$content-loss / 2});

        @media screen and (max-width: $tablet) {
          flex: 0 0 auto;
          width: 100%;
          text-align: center;
          font-size: 15px;
        }
      }
      div.divider {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: calc(100% + #{$gap});
        background-color: var(--neutral-800);

        @media screen and (max-width: $tablet) {
          display: none;
        }
      }
      div.img-container {
        width: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: $tablet) {
          flex: 0 0 auto;
          width: 100%;
        }

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}