@import 'scss/global/mixins';
@import 'scss/global/sass_variables';

.part-general-cta-banner {
    padding: 60px 0;
    
    .banner-content {
        position: relative;
        background: #133587; // Approximation of the blue gradient
        border-radius: 20px;
        padding: 60px 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        color: #fff;
        width: 100%;
        box-shadow: 0px 4px 250px 0px rgba(19, 53, 135, 0.2);
        
        .content-wrapper {
            position: relative;
            z-index: 2;
            text-align: center;

            h3 {
                font-size: 29px;
                font-weight: 700;
                margin-bottom: 30px;
                letter-spacing: -1px;
                color: #fff;
                @media screen and (max-width: $tablet) {
                    font-size: 25px;
                }
                @media screen and (max-width: $mobile-large) {
                    font-size: 22px;
                }
            }

            .actions {
                display: flex;
                gap: 20px;
                justify-content: center;

                @media screen and (max-width: $mobile-large) {
                    flex-direction: column;
                }

                .fill.white {
                    cursor: pointer;
                    background-color: #fff;
                    color: var(--neutral-black);
                    border: none;
                    padding: 12px 24px;
                    border-radius: 8px;
                    font-weight: 600;
                    text-decoration: none;
                    display: inline-block;
                }

                .outline.white {
                    cursor: pointer;
                    background-color: transparent;
                    border: 1px solid #fff;
                    color: #fff;
                    padding: 12px 24px;
                    border-radius: 8px;
                    font-weight: 600;
                    text-decoration: none;
                    display: inline-block;
                }
            }
        }

        .decorative-circle {
            position: absolute;
            width: auto;
            height: auto;
            z-index: 0;

            &.left {
                left: -60px;
                top: -60px;
            }

            &.right {
                right: -60px;
                bottom: -60px;
            }
        }
    }
}
