.part-nosotros-hero-section {
  padding: 80px 0 20px 0;
}
.part-nosotros-hero-section .lock__ui {
  padding: 80px 0;
  flex-direction: column;
  gap: 50px;
}
.part-nosotros-hero-section .lock__ui > .img-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.part-nosotros-hero-section .lock__ui > .img-container img {
  width: 100%;
  height: auto;
  max-width: 400px;
  object-fit: contain;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .part-nosotros-hero-section .lock__ui > .img-container {
    display: none;
  }
}
.part-nosotros-hero-section .header-container {
  text-align: center;
}
.part-nosotros-hero-section .header-container h2 {
  font-size: 40px;
  font-weight: 700;
  color: var(--rich-black);
  margin-bottom: 15px;
}
@media screen and (max-width: 1024px) {
  .part-nosotros-hero-section .header-container h2 {
    font-size: 37px;
  }
}
@media screen and (max-width: 768px) {
  .part-nosotros-hero-section .header-container h2 {
    font-size: 32px;
  }
}
@media screen and (max-width: 425px) {
  .part-nosotros-hero-section .header-container h2 {
    font-size: 25px;
  }
}
.part-nosotros-hero-section .header-container .description {
  font-size: 16px;
  color: #7D888A;
}
.part-nosotros-hero-section .timeline-vertical-story {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  gap: 80px;
}
@media screen and (max-width: 768px) {
  .part-nosotros-hero-section .timeline-vertical-story {
    gap: 40px;
    margin-top: 0;
  }
}
.part-nosotros-hero-section .timeline-vertical-story div.timeline-vertical-story-item {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.part-nosotros-hero-section .timeline-vertical-story div.timeline-vertical-story-item.izquierda {
  flex-direction: row;
}
.part-nosotros-hero-section .timeline-vertical-story div.timeline-vertical-story-item.derecha {
  flex-direction: row-reverse;
}
@media screen and (max-width: 768px) {
  .part-nosotros-hero-section .timeline-vertical-story div.timeline-vertical-story-item {
    gap: 20px;
  }
  .part-nosotros-hero-section .timeline-vertical-story div.timeline-vertical-story-item.izquierda, .part-nosotros-hero-section .timeline-vertical-story div.timeline-vertical-story-item.derecha {
    flex-direction: column-reverse;
  }
}
.part-nosotros-hero-section .timeline-vertical-story div.timeline-vertical-story-item p {
  font-size: 17px;
  color: var(--neutral-400);
  flex: 0 0 calc(50% - 40.5px);
}
@media screen and (max-width: 768px) {
  .part-nosotros-hero-section .timeline-vertical-story div.timeline-vertical-story-item p {
    flex: 0 0 auto;
    width: 100%;
    text-align: center;
    font-size: 15px;
  }
}
.part-nosotros-hero-section .timeline-vertical-story div.timeline-vertical-story-item div.divider {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: calc(100% + 80px);
  background-color: var(--neutral-800);
}
@media screen and (max-width: 768px) {
  .part-nosotros-hero-section .timeline-vertical-story div.timeline-vertical-story-item div.divider {
    display: none;
  }
}
.part-nosotros-hero-section .timeline-vertical-story div.timeline-vertical-story-item div.img-container {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .part-nosotros-hero-section .timeline-vertical-story div.timeline-vertical-story-item div.img-container {
    flex: 0 0 auto;
    width: 100%;
  }
}
.part-nosotros-hero-section .timeline-vertical-story div.timeline-vertical-story-item div.img-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}