@import '../global/sass_variables';

@mixin container-cols-footer-container-mobile() {
  .col-footer-container {
    &:first-of-type {
      min-width: 100%;
    }
    &:not(:first-of-type) {
      width: 50%;
    }
  }
}

.footer-content {
  background-color: #F5F5FA;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  padding: 0 25px;
  .subcontainer-footer-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    .container-cols-footer-container {
      display: flex;
      width:100%;
      justify-content: space-between;
      flex-wrap: wrap;
      @media screen and (max-width: $desktop-extra-small) {
        @include container-cols-footer-container-mobile();
      }
      .col-footer-container {
        width: max-content;
        max-width: 400px;
        ul {
          list-style-type: none;
          li {
            margin-top: 10px;
            font-weight: 400;
            a {
              text-decoration: none;
              color: #333;
              font-weight: 400;
            }
          }
        }
        .container-imgs-social-dentwork {
          display: flex;
          width: 100%;
          justify-content: space-between;
          margin-top: 30px;
          a {
            width: 30px;
            height: auto;
            background-color: var(--main-color);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px 0;
            border-radius: 10px;
          }
          // img {
          //   width: 30px;
          //   height: auto;
          //   border-radius: 4px;
          // }
        }
        .menu-menu_footer-container {
          ul {
            list-style-type: none;
            li {
              margin-top: 10px;
              a {
                position: relative;
                display: inline-block;
                text-decoration: none;
                color: #333;
                padding-bottom: 5px;
              }
            }
          }
        }
        img.logo-footer-container{
          width: 70px;
          height: auto;
          margin-top: 40px;
        }
        .title-footer-container {
          font-weight: 600;
          margin-top: 50px;
          margin-bottom: 30px;
          font-size: 16px;
        }
        .row-footer-container{
          margin-top: 10px;
          color: var(--light-black);
          font-weight: 400;
        }
      }
    }
    .line-footer-container {
      height: 10px;
      width: 100%;
      border: none;
      border-top: 1px solid #e5e5e5;
      margin-top: 30px;
    }
    .credits-container-footer-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 20px;
      margin-bottom: 25px;
      @media screen and (max-width: $desktop-extra-small) {
        flex-direction: column;
      }
      ul {
        display: flex;
        justify-content: center;
        list-style-type: none;
        margin-top: 10px;
        li {
          margin-left: 40px;
          color: var(--neutral-400);
          @media screen and (max-width: $desktop-extra-small) {
            margin-top: 25px;
            &:first-of-type {
              margin-left: 0;
            }
          }
        }
      }
    }
    a.web-creator-tag {
      align-self: flex-start;
      margin-bottom: 50px;
      text-decoration: none;
      color: var(--main-color);
      font-weight: 500;
    }
  }
}