.part-homepage-hero-3d {
  min-height: 100vh;
  position: relative;
}
.part-homepage-hero-3d .background {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
.part-homepage-hero-3d .background canvas, .part-homepage-hero-3d .background > img {
  width: 100% !important;
  height: 100% !important;
}
.part-homepage-hero-3d .background > img {
  object-fit: cover;
}
.part-homepage-hero-3d .background .left {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2; /* Ensure it is above the image for backdrop-filter to work */
}
.part-homepage-hero-3d .background .left .progressive-blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Place behind the content */
  pointer-events: none; /* Allow clicks to pass through */
  transform: rotate(180deg);
}
@media screen and (max-width: 1024px) {
  .part-homepage-hero-3d .background .left .progressive-blur {
    transform: rotate(0deg);
  }
}
.part-homepage-hero-3d .background .left .progressive-blur > div, .part-homepage-hero-3d .background .left .progressive-blur::before, .part-homepage-hero-3d .background .left .progressive-blur::after {
  position: absolute;
  inset: 0;
}
.part-homepage-hero-3d .background .left .progressive-blur::before {
  content: "";
  z-index: 1;
  backdrop-filter: blur(0.5px);
  -webkit-backdrop-filter: blur(0.5px);
  mask: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 12.5%, rgb(0, 0, 0) 25%, rgba(0, 0, 0, 0) 37.5%);
  -webkit-mask: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 12.5%, rgb(0, 0, 0) 25%, rgba(0, 0, 0, 0) 37.5%);
}
@media screen and (max-width: 1024px) {
  .part-homepage-hero-3d .background .left .progressive-blur::before {
    mask: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 12.5%, rgb(0, 0, 0) 25%, rgba(0, 0, 0, 0) 37.5%);
    -webkit-mask: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 12.5%, rgb(0, 0, 0) 25%, rgba(0, 0, 0, 0) 37.5%);
  }
}
.part-homepage-hero-3d .background .left .progressive-blur > div:nth-of-type(1) {
  z-index: 2;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  mask: linear-gradient(to right, rgba(0, 0, 0, 0) 12.5%, rgb(0, 0, 0) 25%, rgb(0, 0, 0) 37.5%, rgba(0, 0, 0, 0) 50%);
  -webkit-mask: linear-gradient(to right, rgba(0, 0, 0, 0) 12.5%, rgb(0, 0, 0) 25%, rgb(0, 0, 0) 37.5%, rgba(0, 0, 0, 0) 50%);
}
@media screen and (max-width: 1024px) {
  .part-homepage-hero-3d .background .left .progressive-blur > div:nth-of-type(1) {
    mask: linear-gradient(to bottom, rgba(0, 0, 0, 0) 12.5%, rgb(0, 0, 0) 25%, rgb(0, 0, 0) 37.5%, rgba(0, 0, 0, 0) 50%);
    -webkit-mask: linear-gradient(to bottom, rgba(0, 0, 0, 0) 12.5%, rgb(0, 0, 0) 25%, rgb(0, 0, 0) 37.5%, rgba(0, 0, 0, 0) 50%);
  }
}
.part-homepage-hero-3d .background .left .progressive-blur > div:nth-of-type(2) {
  z-index: 3;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  mask: linear-gradient(to right, rgba(0, 0, 0, 0) 25%, rgb(0, 0, 0) 37.5%, rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0) 62.5%);
  -webkit-mask: linear-gradient(to right, rgba(0, 0, 0, 0) 25%, rgb(0, 0, 0) 37.5%, rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0) 62.5%);
}
@media screen and (max-width: 1024px) {
  .part-homepage-hero-3d .background .left .progressive-blur > div:nth-of-type(2) {
    mask: linear-gradient(to bottom, rgba(0, 0, 0, 0) 25%, rgb(0, 0, 0) 37.5%, rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0) 62.5%);
    -webkit-mask: linear-gradient(to bottom, rgba(0, 0, 0, 0) 25%, rgb(0, 0, 0) 37.5%, rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0) 62.5%);
  }
}
.part-homepage-hero-3d .background .left .progressive-blur > div:nth-of-type(3) {
  z-index: 4;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  mask: linear-gradient(to right, rgba(0, 0, 0, 0) 37.5%, rgb(0, 0, 0) 50%, rgb(0, 0, 0) 62.5%, rgba(0, 0, 0, 0) 75%);
  -webkit-mask: linear-gradient(to right, rgba(0, 0, 0, 0) 37.5%, rgb(0, 0, 0) 50%, rgb(0, 0, 0) 62.5%, rgba(0, 0, 0, 0) 75%);
}
@media screen and (max-width: 1024px) {
  .part-homepage-hero-3d .background .left .progressive-blur > div:nth-of-type(3) {
    mask: linear-gradient(to bottom, rgba(0, 0, 0, 0) 37.5%, rgb(0, 0, 0) 50%, rgb(0, 0, 0) 62.5%, rgba(0, 0, 0, 0) 75%);
    -webkit-mask: linear-gradient(to bottom, rgba(0, 0, 0, 0) 37.5%, rgb(0, 0, 0) 50%, rgb(0, 0, 0) 62.5%, rgba(0, 0, 0, 0) 75%);
  }
}
.part-homepage-hero-3d .background .left .progressive-blur > div:nth-of-type(4) {
  z-index: 5;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  mask: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgb(0, 0, 0) 62.5%, rgb(0, 0, 0) 75%, rgba(0, 0, 0, 0) 87.5%);
  -webkit-mask: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgb(0, 0, 0) 62.5%, rgb(0, 0, 0) 75%, rgba(0, 0, 0, 0) 87.5%);
}
@media screen and (max-width: 1024px) {
  .part-homepage-hero-3d .background .left .progressive-blur > div:nth-of-type(4) {
    mask: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgb(0, 0, 0) 62.5%, rgb(0, 0, 0) 75%, rgba(0, 0, 0, 0) 87.5%);
    -webkit-mask: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgb(0, 0, 0) 62.5%, rgb(0, 0, 0) 75%, rgba(0, 0, 0, 0) 87.5%);
  }
}
.part-homepage-hero-3d .background .left .progressive-blur > div:nth-of-type(5) {
  z-index: 6;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  mask: linear-gradient(to right, rgba(0, 0, 0, 0) 62.5%, rgb(0, 0, 0) 75%, rgb(0, 0, 0) 87.5%, rgba(0, 0, 0, 0) 100%);
  -webkit-mask: linear-gradient(to right, rgba(0, 0, 0, 0) 62.5%, rgb(0, 0, 0) 75%, rgb(0, 0, 0) 87.5%, rgba(0, 0, 0, 0) 100%);
}
@media screen and (max-width: 1024px) {
  .part-homepage-hero-3d .background .left .progressive-blur > div:nth-of-type(5) {
    mask: linear-gradient(to bottom, rgba(0, 0, 0, 0) 62.5%, rgb(0, 0, 0) 75%, rgb(0, 0, 0) 87.5%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask: linear-gradient(to bottom, rgba(0, 0, 0, 0) 62.5%, rgb(0, 0, 0) 75%, rgb(0, 0, 0) 87.5%, rgba(0, 0, 0, 0) 100%);
  }
}
.part-homepage-hero-3d .background .left .progressive-blur > div:nth-of-type(6) {
  z-index: 7;
  backdrop-filter: blur(32px);
  -webkit-backdrop-filter: blur(32px);
  mask: linear-gradient(to right, rgba(0, 0, 0, 0) 75%, rgb(0, 0, 0) 87.5%, rgb(0, 0, 0) 100%);
  -webkit-mask: linear-gradient(to right, rgba(0, 0, 0, 0) 75%, rgb(0, 0, 0) 87.5%, rgb(0, 0, 0) 100%);
}
@media screen and (max-width: 1024px) {
  .part-homepage-hero-3d .background .left .progressive-blur > div:nth-of-type(6) {
    mask: linear-gradient(to bottom, rgba(0, 0, 0, 0) 75%, rgb(0, 0, 0) 87.5%, rgb(0, 0, 0) 100%);
    -webkit-mask: linear-gradient(to bottom, rgba(0, 0, 0, 0) 75%, rgb(0, 0, 0) 87.5%, rgb(0, 0, 0) 100%);
  }
}
.part-homepage-hero-3d .background .left .progressive-blur::after {
  content: "";
  z-index: 8;
  backdrop-filter: blur(64px);
  -webkit-backdrop-filter: blur(64px);
  mask: linear-gradient(to right, rgba(0, 0, 0, 0) 87.5%, rgb(0, 0, 0) 100%);
  -webkit-mask: linear-gradient(to right, rgba(0, 0, 0, 0) 87.5%, rgb(0, 0, 0) 100%);
}
@media screen and (max-width: 1024px) {
  .part-homepage-hero-3d .background .left .progressive-blur::after {
    mask: linear-gradient(to bottom, rgba(0, 0, 0, 0) 87.5%, rgb(0, 0, 0) 100%);
    -webkit-mask: linear-gradient(to bottom, rgba(0, 0, 0, 0) 87.5%, rgb(0, 0, 0) 100%);
  }
}
.part-homepage-hero-3d .background .financial-indicators-bar {
  position: absolute;
  bottom: 0px;
  left: -10%;
  width: 120%;
  height: 30px;
  z-index: 10;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  overflow: hidden;
  pointer-events: none;
}
.part-homepage-hero-3d .background .financial-indicators-bar .bar-track {
  width: 100%;
  display: flex;
  align-items: center;
}
.part-homepage-hero-3d .background .financial-indicators-bar .bar-track .marquee-content {
  display: flex;
  gap: 4rem;
  animation: marquee 120s linear infinite; /* Slower speed for readability */
  padding-left: 4rem;
}
.part-homepage-hero-3d .background .financial-indicators-bar .bar-track .marquee-content .item {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  white-space: nowrap;
}
.part-homepage-hero-3d .background .financial-indicators-bar .bar-track .marquee-content .item .icon {
  color: #fbbf24;
  font-size: 14px;
}
.part-homepage-hero-3d .background .financial-indicators-bar .bar-track .marquee-content .item span {
  color: #fff;
  font-size: 0.85rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.part-homepage-hero-3d .background .financial-indicators-bar .bar-track .marquee-content .item span strong {
  font-weight: 800;
  margin-left: 5px;
  color: #fff;
}
.part-homepage-hero-3d .lock__ui {
  z-index: 3 !important;
  position: static;
}
@media screen and (max-width: 1024px) {
  .part-homepage-hero-3d .lock__ui {
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 50px;
  }
}
.part-homepage-hero-3d .lock__ui .left {
  margin-top: -100px;
  width: 100%;
  max-width: 600px;
}
@media screen and (max-height: 700px) {
  .part-homepage-hero-3d .lock__ui .left {
    margin-top: 0;
  }
}
.part-homepage-hero-3d .lock__ui .left h1 {
  font-weight: 500;
  letter-spacing: -1px;
}
@media screen and (max-width: 1366px) {
  .part-homepage-hero-3d .lock__ui .left h1 {
    font-size: 42px;
  }
}
@media screen and (max-width: 1024px) {
  .part-homepage-hero-3d .lock__ui .left h1 {
    font-size: 38px;
  }
}
@media screen and (max-width: 768px) {
  .part-homepage-hero-3d .lock__ui .left h1 {
    font-size: 32px;
  }
}
@media screen and (max-width: 425px) {
  .part-homepage-hero-3d .lock__ui .left h1 {
    font-size: 28px;
  }
}
.part-homepage-hero-3d .lock__ui .left > p {
  font-size: 17px;
  padding: 15px 0 50px 0;
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  .part-homepage-hero-3d .lock__ui .left > p {
    padding: 15px 0 15px 0;
    font-size: 15px;
  }
}
@media screen and (max-width: 425px) {
  .part-homepage-hero-3d .lock__ui .left > p {
    font-size: 14px;
  }
}
.part-homepage-hero-3d .lock__ui .left .cards {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
@media screen and (max-width: 1024px) {
  .part-homepage-hero-3d .lock__ui .left .cards {
    display: none;
  }
}
.part-homepage-hero-3d .lock__ui .left .cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 200px;
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(247, 247, 247, 0.7) 0%, rgba(245, 245, 250, 0.3) 50%, rgba(245, 245, 250, 0.01) 100%);
  padding: 20px 14px;
}
.part-homepage-hero-3d .lock__ui .left .cards .card > img {
  width: 40px;
  aspect-ratio: 1/1;
  background: var(--main-color);
  padding: 5px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.part-homepage-hero-3d .lock__ui .left .cards .card h5 {
  letter-spacing: -1px;
  text-align: center;
  padding: 10px 0 0 0;
  font-weight: 600;
}
.part-homepage-hero-3d .lock__ui .left .cards .card p {
  font-size: 14px;
  text-align: center;
  padding: 10px 0 0 0;
  font-weight: 300;
  color: var(--neutral-200);
}
.part-homepage-hero-3d .lock__ui .left a {
  display: block;
  width: fit-content;
  margin-top: 20px;
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}